<div *ngFor="let tweet of twat">
    <div *ngIf="tweet.likes > 100000; else template">
        <div [ngClass]="{'tweet' :true, 'shadow' :true, 'wrong' :isWordIn(tweet.text,'Witch Hunt')}">
            <p class="date">{{ tweet.date | date : "dd/MM-yyyy HH:mm" }}</p>
            <p class="text">{{ tweet.text }}</p>
            <p [ngClass]="{'likes' :tweet.likes <= 200000, 'superlikes' :tweet.likes > 200000}"><i class="glyphicon glyphicon-thumbs-up"></i>{{ tweet.likes }}</p>
        </div>
    </div>

    <ng-template #template>
        <div [ngClass]="{'tweet' :true,'nshadow' :true, 'wrong' :isWordIn(tweet.text,'Witch Hunt')}">
            <p class="text">{{ tweet.text }}</p>
            <p [ngClass]="{'likes' :tweet.likes <= 200000, 'superlikes' :tweet.likes > 200000}"><i class="glyphicon glyphicon-thumbs-up"></i>{{ tweet.likes }}</p>
            <p class="date">{{ tweet.date | date : "dd/MM-yyyy HH:mm" }}</p>
        </div>

    </ng-template>
<div>